# This is a basic workflow to help you get started with Actions

name: Ubuntu Latest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  gcc:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: apt
        run: |
          sudo apt update
          sudo apt install libfl-dev libgtest-dev
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.0.5
      - uses: BSFishy/meson-build@v1.0.3
        with:
          meson-version: 0.55
          action: test
      - name: unit tests
        run : ./run-tests.sh
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.28
        with:
          files: build/meson-logs/testlog.junit.xml

  gcc-sanitizer:
    runs-on: ubuntu-latest

    steps:
      - name: apt
        run: |
          sudo apt update
          sudo apt install libfl-dev libgtest-dev
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.0.5
      - uses: BSFishy/meson-build@v1.0.3
        with:
          meson-version: 0.55
          setup-options: -Db_sanitize=address,undefined
          action: test
      - name: unit tests
        run : ./run-tests.sh
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.28
        with:
          files: build/meson-logs/testlog.junit.xml
